name: Pull Request

on:
  push:
    branches:
      - master

jobs:
  pull-request:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v3.11.1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          branch: master
          delete-branch: true
